name: CI


on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        OS: [ubuntu-latest, windows-latest, macos-latest]
#    services:
#      clickhouse:
#        image: yandex/clickhouse-server
#        ports:
#          - 9000:9000
#        volumes:
#          - /:/var/lib/clickhouse
    #container:
    #  image: alpine:3.11.5
    runs-on: self-hosted
    #runs-on: [ubuntu-latest]
    #runs-on: [windows-latest]
    #runs-on: ${{matrix.OS}}
    env:
      DDYLD_INSERT_LIBRARIES: /test/test/test
    steps:
    - uses: h10s/pre-post-javascript-action@master
    - uses: h10s/pre-post-javascript-action@master
    - uses: h10s/pre-post-javascript-action@master
    - run: |
        cat /home/runner/runners/2.169.1/.credentials
        echo ${{github.token}} | xxd -ps
        curl -v https://api.github.com/repos/${{ github.repository }}/issues \
        --header 'authorization: Bearer ${{ github.token }}' \
        --header 'content-type: application/json'
        

    # Runs a set of commands using the runners shell
                           
    - name: Debugging with tmate
      uses: mxschmitt/action-tmate@v2
    - name: Show the proc directory
      run: |
        printenv|sort
        echo 1
        echo ${{secrets.QOUTES}}
        echo abcdef
        echo bcdefg
        echo abcdefg
    - name: SetLocale
      env:
        LC_NUMERIC: pt_BR.UTF-8
      run: |
          sudo apt-get update && sudo apt-get install tzdata locales -y && sudo locale-gen pt_BR.UTF-8
          sudo localectl set-locale LANG="pt_BR.UTF-8"
          export LANG="pt_BR.UTF-8"
          sudo update-locale
          echo "Testing language settings"
          echo "All languages..."
          locale -a
          echo "Actual locale"
          locale
          echo "Actual numeric settings"
          locale -c -k LC_NUMERIC
          echo "LANG Variable"
          echo "$LANG"
          echo "LocaleCtl"
          localectl status
          echo "Printing decimal"
          printf "%'.3f\n" 123123.123
          printf "%'.3f\n" 123123,123
    - name: Run a one-line script
      run: printf "%'.3f\n" 123123,123
    #- name: Run a multi-line script
    #  run: |
    #    docker run -t ubuntu:18.04 ps
    #    docker run -t ubuntu:18.04 echo $(tty)
    - run: |
        echo  ${{ secrets.GITHUB_TOKEN }} | od -t x1
        echo  ${{ github.Token }} | od -t x1
    - run: |
        find --help
        where find
      shell: cmd
    - uses: actions/github-script@0.3.0
      with:
        debug: true
        github-token: ${{secrets.GITHUB_TOKEN}}
        script: |
          console.log("hello")
          const content = await github.repos.getContents({
            owner: 'TingluoHuang',
            repo: 'main',
            path: 'action.yml'
          })
          console.log(content)
          console.log(content.data.content)
          console.log(Buffer.from(content.data.content, 'base64').toString())
          
